@media only screen and (max-width: 767px) {

    #video-detail-container {
        margin-top: 0!important;
    }
}

@media only screen and (max-width: 650px) {

    #header-dropdown-mobile{
        left: -60%!important;
    }

}
@media only screen and (max-width: 600px) {

    #header-dropdown-mobile{
        left: -70%!important;
    }

}
@media only screen and (max-width: 550px) {

    #header-dropdown-mobile{
        left: -80%!important;
    }

}
@media only screen and (max-width: 500px) {

    #header-dropdown-mobile{
        left: -90%!important;
    }

}
@media only screen and (max-width: 450px) {

    #header-dropdown-mobile{
        left: -100%!important;
    }

}
@media only screen and (max-width: 400px) {

    #header-dropdown-mobile{
        left: -110%!important;
    }

}
@media only screen and (max-width: 350px) {

    #header-dropdown-mobile{
        left: -150%!important;
    }

}
@media only screen and (max-width: 300px) {

    #header-dropdown-mobile{
        left: -185%!important;
    }

}
@media only screen and (max-width: 250px) {

    #header-dropdown-mobile{
        left: -250%!important;
    }

}
@media only screen and (max-width: 200px) {

    #header-dropdown-mobile{
        left: -300%!important;
    }

}